AccessModifierOffset: -4
NamespaceIndentation: None
AlignAfterOpenBracket: Align
AlwaysBreakTemplateDeclarations: true
BreakBeforeBraces: Custom
BraceWrapping:
  AfterEnum: true
  AfterCaseLabel: false
  AfterClass: true
  AfterControlStatement: false
  AfterFunction: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: false
  BeforeElse: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
ColumnLimit: 120
CompactNamespaces: true
IndentCaseLabels: true
IndentWidth: 4
KeepEmptyLinesAtTheStartOfBlocks: false
PointerAlignment: Left
UseTab: Never
SpacesInContainerLiterals: false
SpacesInParentheses: false
SortUsingDeclarations: false
SortIncludes: false
SpacesInSquareBrackets: false
SpaceBeforeCtorInitializerColon: true
BreakBeforeInheritanceComma: false
BreakInheritanceList: AfterColon
BreakConstructorInitializers: AfterColon
AllowShortFunctionsOnASingleLine: Inline
AllowShortLambdasOnASingleLine: Empty
AllowAllConstructorInitializersOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false
BinPackParameters: false
BinPackArguments: false
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 4
